body{
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  margin: 20px;
}


#outer-span{
  border: 1px solid;
}

#span{
  background: chartreuse;
  padding: 20px; 
  margin: 100px;
  border: 1px solid;
}

#btn{
  background: chartreuse;
  padding: 20px;
  border: 2px solid;
  margin: 20px;
}

/* Event */
#event, #grandParent, #parent, #child{
  padding: 50px;
  border: 1px solid;
}


.posation_box_p{
  border: 1px solid;

}
.posation_box{
  height: 100vh;
  background-color: cyan;
  padding: 100px;
  margin: 100px;
  border: 1px solid;
}

.posation_absolute{
  position: absolute;
  border: 1px solid;
}

.posation_relative{
  border: 1px solid;
  position: relative;
}
.posation_fixed{
  border: 1px solid;
  position: fixed;
}