.game-container{
    display: flex;
    padding: 10% 10% 0% 10%;
    position: relative;
}

.player-0, .player-1{
    flex: 1;
    text-align: center;
}

.new-game{
    position: absolute;
    top: 10%;
    left: 48%;
}

.dice{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    position: absolute;
    left: 46%;
}

.current-0, .current-1{
    background: #ff2e2eb5;
    padding: 10%;
    margin: 20%;
}

.active{
    background: #00800061;
}
